<header>
    <h1><%= date%></h1><nav>
        <ul>
            <li class='navi'><div class='centering'><a href='../'>Strona Glowna</a></div></li>
            <li class='navi'><div class='centering'>TEST2</div></li>
            <li class='navi'><div class='centering'>
                <% if(!session.loggedin){%>
                    <a href='../login'>Zaloguj</a>
                <%}
                else{%>
                    <a href='../logout'>Wyloguj</a>
                <%}%>
             </div></li>

        </ul>
    </nav>
</header>