<head>
	<title>TEST</title>
	<%- include ('./partials/head.ejs')%>
</head>
<body>

	<%- include ('./partials/header.ejs') %>


	<content>
	<center><h3>Projekt Bazy Danych 2 - Aplikacja wspierająca zarządzenie inteligentym domem</h3><br>
		<% if(session.loggedin){ %>
			<h3>Witaj <%=session.username%>! </h3>
			<br>
			<h2>Dostepne opcje:</h2><br>
			<ul>
				<li>
					<a href=../deviceList>Lista urzadzen</a>
				</li>
				<li>
					<a href=../history>Historia pracy urzadzen</a>
				</li>
				<li>
						<a href=../schedules>Harmonogram pracy urzadzen</a>
				</li>
				<li>
					<a href=../userScripts>Skrypty uzytkownika</a>
				</li>
				<li>
					<a href=../groups>Grupy urzadzen</a>
				</li>
				<li>
					<a href=../devicesStatus>Status podlaczonych urzadzen</a>
				</li>
				<li>
					<a href=../changePass>Zmiana hasla uzytkownika</a>
				</li>
				<% if(session.userPrivilege>5){%>
					<li>
						<a href=../users>Lista uzytkownikow</a>
					</li>
					<li>
						Lista zadan
					</li>
				<%}%>
			</ul>
		<% }else{%>
			Prosimy o <a href='./login'>zalogowanie</a> sie do systemu!
		<%}%>
		</div>
	</center>
	</content>
</body>