.devices{
    list-style: none;
    display: grid;
    grid-template-columns: 25%  25% 25%;
    width: 100%;
    justify-content: center;
}
.devices li{
    display: grid-cell;
    width: 95%;
    height: 100%;

    margin: 3% 3%;
}
.deviceContainer{
   
    background: #E9d5FB;
    border: 2px solid black;
   height: 95%;
    width:95%;
    font-size: calc(8px + 1vmin);
}

.deviceName{
    text-align: center;
    background: #C298EA;
    border-bottom: 4px solid black;
    font-size: calc(3px + 1.4vmin);
    height: 10%;
    width: 100%;
}

.editButton{
    box-sizing: border-box;
    font-size: calc(5px + 1.2vmin);
    display: inline-block;
    background: #7641a9;
    float: right;
    height: 100%;
    width: 15%;
    padding: 0;
    color: white;
    border: 1px solid black;
}

.deleteButton{
    box-sizing: border-box;
    font-size: calc(5px + 1.2vmin);
    display: inline-block;
    background: red;
    float: right;
    height: 100%;
    width: 15%;
    padding: 0;
    border: 1px solid black;
}


.categorySpan{

    text-align: center;
    display: inline-block;
    width: 50%;
    background: rgba(224, 224, 224, 0.5);
    color: #505050;
    padding: 0;
}

.valueSpan{
    text-align: center;
    width: 50%;
    float: right;
    background: rgba(255, 255, 255, 0.5);
}
form{
    text-align: center;
}

input, select{
    position: relative;
    width:30%;
    margin-left: 10%;
}

form center{
    margin-top: 3%;
}

form center input{
    margin: 0;
    width:auto;
    box-sizing: border-box;
    margin-right: 1%;
}

.errorMsg{
    color: red;
}

.row{
    display: block;
    margin:0;
    padding:0;
}

.deviceDetails{
    font-size: calc(6px + 1.2vmin);
    height:100%;
}

.groupList li{
    height:min-content;
}

.showStatsForm{
    display:inline;
}

.showStatsForm .editButton{
    box-sizing: border-box;
    padding: 0;
    width: auto;
}
