.history{
    margin: 0px;
    list-style: none;
}

.history .historyContent{
    width: 100%;
    margin-top: 0;
    margin-bottom:none;
    list-style-type: none;
    list-style: none;
    display: grid;
    grid-template-columns: 5% 20% 25% 20% 20% 10%;
    padding: 0;
}

.history .historyContent li{
    display: grid-cell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vh;
   
    background-color: #d894e965;
    box-sizing: border-box;
    padding: 0.2vh;
    border: 1px solid black;
}


 .description_package{
    margin: 0;
    list-style-type: none;
    list-style: none;
    background-color: azure;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 5% 20% 25% 20% 20% 10%;
    padding: 0;
}

.description_package li{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vh;
    background-color: thistle;
}

.historyRows{
    list-style: none;
    padding: 0;
    margin: 0;

}
